$background: rgb(246, 246, 246);
$textcolor: #999999;
$textcolor1: #2b2b2b;
$hovercolor: #3cc7c6;


#two{

    .two-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 70px;

        .card{
            text-align: center;
            padding: 15px;
            width: 385px;
            margin-bottom: 20px;
            // svg{
            //     width: 64px;
            //     height: 64px;
            // }
            .two-header{
                margin: 10px 0 0 0 ;
                line-height: 24px;
                font-size: 17px;
                .two-link{
                    text-decoration: none;
                    color: $textcolor1;
                    font-family: Lato;
                    letter-spacing: 1px;
                    font-weight: 400;
                    font-style: normal;
    
                }
                .two-link:hover{
                    color:$hovercolor;
                    transition-duration: 0.4s;

                }
            }
            .two-para{
                margin-top: 10px;
            }
 

        }
        // .card1{

        // }
        // .card2{

        // }
        // .card3{

        // }
    }
}