body{
    margin: 10px;
}
.container{
    background-color: #f5f5f5;
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
    padding: 10px;
.section2{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
.card{
    background-color: white;
    border-radius: 10px;
    width:270px;
    margin-bottom: 10px;
.cardheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-image: linear-gradient(to right, orange , yellow);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px 10px 0 0;
.maintitle{
    background-color: white;
    width:40px;
    margin: 0;
    padding-top: 15px;
    padding-left: 7px;
    text-align: center;
}
.title{
    margin-top: 10px;
}

}
.cardmain{
    padding: 20px;
.contentheader{
.contenttitle {
    font-size: large;
    margin-top: 0;
    margin-bottom: 0;
}
}
.content{
    display: flex;

.clock{
    margin-right: 10px;
    margin-bottom:0;
}
.level{
    margin-bottom: 0;
}
}
.contentend{
    display: flex;
.rating{
    margin-right: 4px;
    color: orange;
}
}
}
.cardfooter{
    display: flex;
    justify-content: space-between;
    padding: 20px;
.name{
    margin: 0;
}
}
}
}
}
hr{
    margin: 0;
}

@media (max-width: 480px) {

    .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    .section2{
        width: 80%;
    }
    }
}