$background: rgb(246, 246, 246);
$textcolor: #999999;
$textcolor1: #2b2b2b;
$hovercolor: #3cc7c6;

// @mixin elementStyle($weight, $align, $size, $lineHeight, $color) 
#four{
    .four-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    .four-content{
        width: 1200px;
        max-width: 100%;
    .four-header{
        // margin-top: 0;
        margin-bottom: 0;
        @include elementStyle(300, center, 45px, 50px, #333);
    }
    .four-para{
        padding: 0 20%;
        letter-spacing: 0.5px;
        @include elementStyle(200, center, 20px, 28px, #777777);


    }
    .four-ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 0 11%;
    .four-list{
        list-style-type: none;
        padding: 8px 18px;
    .four-link{
        text-decoration: none;
        letter-spacing: 1px;
        font-weight: 400;
        color: #757575;
        font-size: 14px;
    }
    .four-link:hover{
        color: $textcolor1;
    }
    .four-link:active{
        background-color: $textcolor;
    }
    }
    }

    }
    .four-image{
    .four-image-container{
        display: flex;
    .f-image{
        width: 25%;
    img{
    max-width: none;
    width: 100%;
    }
    }
    }
    }    
    }
}

@media (max-width: 768px){
    .four-image{
        width: 100%;
    .four-image-container{
        flex-direction: column;
    .f-image{
        width: 100% !important;
    }
    }
    }  
}